body{
    font-family: 'Gluten', cursive;
    background-size: cover;
}
.heading{
    font-size: 35px;
    margin: 0px;
    width: 100%;
}
.note{
    font-size: 18px;
    color: black;
}
.speed{
    float: left;
}
#diskGif{
    border-radius: 100px;
    width: 200px;
}
#speed,#volume{
    font-size: 20px;
    margin: 15px;
}
.volume{
    float: right;
}

.play_button,.stop_button{
    width: 130px;
    font-size: 25px;
}
canvas{
    border-radius: 20px;
    border: 5px solid white;
    margin-top: 280px;
}
